import { tanstackStart } from "@tanstack/react-start/plugin/vite";
import viteReact from "@vitejs/plugin-react";
import { defineConfig } from "vite";

export default defineConfig({
  resolve: { conditions: ["__SOURCE_CONDITION__"], tsconfigPaths: true },
  plugins: [tanstackStart({ srcDirectory: "src" }), viteReact()],
});
