import { Layer } from "effect";
import { __SYMBOL__Serialization, __SYMBOL__Server } from "effect/unstable/rpc";

import { __SYMBOL__Group } from "./group";
import { __SYMBOL__HandlersLive } from "./handlers";

export const __SYMBOL__HttpLayer = __SYMBOL__Server.layerHttp({
  disableFatalDefects: true,
  group: __SYMBOL__Group,
  path: "/rpc",
  protocol: "http",
}).pipe(Layer.provide([__SYMBOL__HandlersLive, __SYMBOL__Serialization.layerNdjson]));
